<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IronBeers</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<h5>layout</h5>
   <nav>
    <a href="/">Home</a>
    <a href="/beers">Beers</a>
    <a href="/random-beers">Random Beers</a>
    </nav>
   {{{body}}} 
    <footer>
        <p>Developed by Ironhack ;)</p>
    </footer>
</body>
</html>